{#{% block _usrAddressList_entry_widget %}#}
<div class="row">
	<div class="col-sm">
		<div class="form-group">
			{{ form_label(p_frmForm.brdName,'form.brand_title'|trans({}, 'translations') ) }}:
			{{ form_widget(p_frmForm.brdName) }}
		</div>
	</div>
</div>
